
body{
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	background:#fff;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans';
	margin:0;			   
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.copyrights{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*-----start-header----*/
.full {	
	border-left: 5px solid #2b2b2b;
}
.main{
	 border-left: 104px solid #383838;
}
.top-header {
	padding: 1.25em 3em 1.25em 2em;
	background:#f3f3f3;
}
.header {

}
.header-img {
	float: left;
	margin-left: 1%;
	margin-top: 1%;
	width:70%;
	background: url('../images/header-img1.jpg');
	background-size: cover;
	height: 550px;
}

.header-info {
	float:right;
	margin-top: 1%;
	width:25%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	min-height: 550px;
}
.header-info h1 {
	color:#0b0b0b;
	font-size:40px;
	font-weight:700;
	margin-bottom:12px;
	padding-bottom:7px;
	border-bottom:1px solid #4b4b4b;
}
.header-info p {
	color:#0b0b0b;
	font-size:1em;
	font-weight:400;
	line-height:1.7em;
	margin:0.8em 0;
}
p.age {
	color:#0b0b0b;
	font-size:1.15em;
	font-weight:400;
	margin:1.5em 0;
	margin-bottom: 2.5em;
}
p.special {
	color:#0b0b0b;
	font-size:1em;
	font-weight:400;
	line-height:1.7em;
	margin:2.2em 0;
}
p.age a {
	color:#3bd369;
	padding:7px 10px;
	border:2px solid #3bd369;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	margin-right: 1.2em;
	text-decoration:none;
}
p.review{
	color:#0b0b0b;
	font-size:1em;
	font-weight:400;
	line-height:1.7em;
	margin:0.8em 0;	
}
a.video {
  background: #dfb636;
  font-size: 1.25em;
  text-decoration: none;
  padding: 12px 25px 12px 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-bottom: 3px solid #2d2d2d;
  width:75%;
  display:block;
  margin-top:25px;
}
a.detail {
  background: #dfb636;
  font-size: 1.25em;
  text-decoration: none;
  padding: 12px 25px 12px 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-bottom: 3px solid #2d2d2d;
  width:75%;
  display:block;
  margin-top:18px;
}
a.detail:hover,a.video:hover {
	background: #000;
    border-bottom: 3px solid #000;
}
i.detail1 {
	width:40px;
	height:35px;
	background: url('../images/icons/inbox.png') ;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
i.video1 {
	width:40px;
	height:35px;
	background: url('../images/img-sprite.png') no-repeat -300px -50px;
	display:inline-block;
	vertical-align:middle;
	margin-right:10px;
}
.menu {
	position: fixed;
	top: 82px;
	left: 5px;
	 z-index: 2;
}
.menu ul li {
	list-style-type:none;
	border-bottom:1px solid #4c4c4c;
}
.menu ul li a{
	padding:12px 22px;
	display: block;
}
.menu ul li a.active {
	background:#dfb636;
}
.menu ul li a:hover {
	background: #dfb636;
}
i.home {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat 0px 0px;
	display:block;
}
i.home1 {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat 0px -60px;
	display:block;
}
i.home2 {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat 0px 0px;
	display:none;
}
.menu ul li a:hover div.hm i.home1{
	display:none;
}
.menu ul li a:hover div.hm i.home2{
	display:block;
}
.menu ul li a.active div.hm i.home1{
	display:none;
}
.menu ul li a.active div.hm i.home2{
	display:block;
}
i.videos {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -60px 0px;
	display:block;
}
i.videos1 {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -60px -60px;
	display:none;
}
.menu ul li a:hover div.video i.videos{
	display:none;
}
.menu ul li a:hover div.video i.videos1{
	display:block;
}
.menu ul li a.active div.video i.videos{
	display:none;
}
.menu ul li a.active div.video i.videos1{
	display:block;
}
i.watching {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -120px 0px;
	display:block;
}
i.watching1 {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -120px -60px;
	display:none;
}
.menu ul li a:hover div.cat i.watching{
	display:none;
}
.menu ul li a:hover div.cat i.watching1{
	display:block;
}
.menu ul li a.active div.cat i.watching{
	display:none;
}
.menu ul li a.active div.cat i.watching1{
	display:block;
}
i.booking {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -180px 0px;
	display:block;
}
i.booking1 {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -180px -60px;
	display:none;
}
.menu ul li a:hover div.bk i.booking{
	display:none;
}
.menu ul li a:hover div.bk i.booking1{
	display:block;
}
.menu ul li a.active div.bk i.booking{
	display:none;
}
.menu ul li a.active div.bk i.booking1{
	display:block;
}
i.contact {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -240px 0px;
	display:block;
}
i.contact1 {
	width:60px;
	height:60px;
	background: url('../images/img-sprite.png') no-repeat -240px -60px;
	display:none;
}
.menu ul li a:hover div.cnt i.contact{
	display:none;
}
.menu ul li a:hover div.cnt i.contact1{
	display:block;
}
.menu ul li a.active div.cnt i.contact{
	display:none;
}
.menu ul li a.active div.cnt i.contact1{
	display:block;
}
.logo{
	float: left;
	width: 180px;
}
.logo a {
	float: left;
	width: 100%;

}
.logo p {
	color:#D0D0D0;
	font-size:1.35em;
	letter-spacing:2px;
	text-transform:uppercase;
	float: left;
	border-left: 1px solid #D0D0D0;
	padding:4px 0 4px 20px;
	margin:8px 0 0px 20px;
}
.logo img {
	width: 100%;
}

/*--start-login--*/
.login {
	position: relative;
	padding: 18px 20px;
	width: 20%;
	float: right;
}
.login a {
	font-size: 15px;
	margin:10px 0 0px 5px;
}
.login span{
	margin:10px 0 0px 5px;
}
/*--start-search--*/
.search {
	position: relative;
	padding: 8px 10px;
	width: 18%;
	float: right;
	border: 1px solid #f0f0f0;
	float:right;
	background: #ffffff;
	border-radius: 15px;
	margin-top: 10px;
}
.search input[type="text"] {
	outline: none;
	color: #b3b3b3;
	background: none;
	font-size: 16px;
	border: none;
	width: 84.33%;
}
.search input[type="submit"] {
	background: url('../images/sprit-1.png') no-repeat 0px 0px;
	border: none;
	cursor: pointer;
	position: absolute;
	outline: none;
	top: 2px;
	right: 7px;
	width: 35px;
	height: 35px;
}
#flexiselDemo1, #flexiselDemo2, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
.nbs-flexisel-inner {
	overflow: hidden;
}
.nbs-flexisel-item {
	float: left;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	
	cursor: pointer;
	position: relative;
	  width: 90%;
  margin: 0 5%;
}
/*** Navigation ***/
.nbs-flexisel-nav-left {
	display:none;
}
.nbs-flexisel-nav-right {
	display:none;
}	
.review-slider {
	position: relative;
	background: #dfb636;
	padding: 3em 0;
}
.video iframe {
	width:100%;
	min-height:480px;
}
.more-reviews{
	background:#fff;
	padding:3em 0;
}
.news {
	background:#fff;
	padding:4em 3em;	
}
.news-left-grid h3 {
	color:#0b0b0b;
	font-size:3.2em;
	font-weight:700;
	padding-left: 0;
}
.news-left-grid h2 {
	color:#383838;
	font-size:2.8em;
	font-weight:700;
	margin:10px 0;
	padding-left: 0;
}
.news-left-grid h4 {
	color: #b8b8b8;
	font-size: 2.25em;
	font-weight: 500;
	margin:1px 0 2.1em 0;
	padding-left: 0;
}
.news-left-grid p {
	color:#bb7b29;
	font-size:1.4em;
	font-weight:600;
	margin-top:2.7em;
}
.news-left-grid a {
	background:#bb7b29;
	font-size:1.3em;
	text-decoration:none;
	  padding: 15px 25px 15px 15px;
	color:#fff;
	font-weight:600;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	border-bottom:3px solid #c9c9c9;
}
.news-left-grid a:hover {
	background:#000;
	border-bottom:3px solid #848484;
}
i.book {
	width: 60px;
	height: 50px;
	background: url('../images/img-sprite.png') no-repeat -300px 0px;
	display: inline-block;
	vertical-align: middle;
	margin-right:10px;
}
.news-left-grid p strong {
	font-size:1.6em;
}
.news-right-grid h3 {
	color:#b8b8b8;
	font-size:2.2em;
	font-weight:700;
	margin-bottom:0.5em;
	padding-left: 0;
}
.news-right-grid h5 {
	color:#383838;
	font-size:1.4em;
	font-weight:700;
	margin-bottom:6px;
	padding-left: 0;
}
.news-right-grid label {
	color:#b8b8b8;
	font-size:1em;
	font-weight:300;
}
.news-right-grid p {
	color:#b8b8b8;
	font-size:1em;
	line-height:1.4em;
	font-weight:400;
	margin-top:0.5em;
}
.news-grid {
	padding-bottom:1.2em;
	margin-bottom:1.2em;
	border-bottom:1px solid #F3F3F3;
}
.news-right-grid a{
	text-decoration:none;
	font-size:1.3em;
	font-weight:700;
	color:#dfb636;
}
.news-right-grid a:hover {
	color:#000;
}
.footer {
	position: relative;
	background:#f3f3f3;
	padding:4em 3em;
}
.footer h6 {
	color:#6F6F6F;
	font-size:1em;
	font-weight:600;
}
p.claim {
	color: #b0b0b0;
	font-size: 0.95em;
	font-weight: 400;
	width: 35%;
	margin: 10px 0;
}
.footer a {
	color: #6F6F6F;
	font-size: 0.95em;
	text-decoration:none;
	font-weight: 400;
	width: 35%;
	margin-top: 6px;
	text-decoration:none;
}
.copyright {
	margin-top:2em;
}
.copyright p {
	color: #b0b0b0;
	font-size: 1em;
	font-weight: 400;
}
.copyright p a {
	color: #000;
}
/*-----right-content-----*/
.right-content{
	padding: 3em;
  border-top: 1px solid #000;
  background:#fff;
}
.content-grid{
	width: 22.75%;
  float: left;
  text-align: center;
  border: 1px solid rgba(235, 235, 235, 0.53);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.35);
  margin-right: 3%;
  margin-bottom: 4%;
}
.last-grid{
	margin-right:0px;
}
.content-grid img{
	display:block;
}
.content-grid h3{
	color: #888;
	text-transform: uppercase;
	  padding: 1em;
	display: block;
	line-height: 1.5em;
	font-size: 0.875em;
}
.content-grid ul li{
	display:inline-block;
}
.content-grid img{
	display:block;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	  width: 100%;
}
.content-grid:hover  img{
	-webkit-filter: grayscale(100%);
	opacity: 5;
	transition: all 300ms!important;
	-webkit-transition: all 300ms!important;
	-moz-transition: all 300ms!important;
}
.content-grid ul li a{
	padding:0 5px;
	display:block;
}
.button{
	background: #000;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	text-transform: uppercase;
	display: block;
	margin: 10px 0 0 0;
	font-size: 0.875em;
}
.button:hover{
	color:#888;
}
.right-content-heading-left{
	padding: 11px 0;
}
.right-content-heading {
	border-bottom: 1px solid #F1F0F6;
	  margin: 0 0 3em 0;
}
.right-content-heading-right{
	float:right;
}
.right-content-heading-left h3{
	color: #888;
	text-transform: uppercase;
	display: block;
}
/*----start-pagenation-----*/
.pagenation{
	text-align: center;
}
.pagenation ul li{
	display:inline-block;
}
.pagenation ul li a{
	background: #000;
	padding: 10px;
	cursor: pointer;
	border: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
	color: #FFF;
	outline: none;
	text-transform: uppercase;
	display: block;
	font-size: 0.875em;
}
.pagenation ul li a:hover{
	color: #888;
}
.pagenation ul li:last-child{
	padding-left:1em;
}
.span_top{
	background:#fff;
}
.reviews-section {
	background: #fff;
	padding:3em;
	border-top:1px solid #000;
}
h3.head {
	color: #000;
	font-size: 2.5em;
	font-weight: 700;
}
.movie-pic {
	float:left;
	width:24%;
	margin-right:3%;
}
.movie-pic img {
	width: 100%;
}
.review-info {
	float:left;
	width:73%;
}

a.span {
	color: #000;
	font-size: 1.8em;
	text-decoration:none;
	font-weight: 600;
}
p.dirctr {
	color: #B1B1B1;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 10px;
}
p.dirctr a {
	color: #B1B1B1;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 10px;
	text-decoration:none;
}
.yrw {
	margin: 2em 0;
}
p.ratingview {
	color: #000;
	font-size: 1em;
	font-weight: 600;
	float: left;
	margin:10px 0px;
}
.rating {
		  direction: rtl;
		  text-align: center;
		    float: left;
			margin:10px 10px;
		}
		.rating > span {
		  display: inline-block;
		  position: relative;
		  width: 1.1em;
		}
		.rating > span:hover,
		.rating > span:hover ~ span {
		  color: transparent;
		}
		.rating > span:hover:before,
		.rating > span:hover ~ span:before {
		   content: "\2605";
		   position: absolute;
		   left: 0;
		   color: gold;
		}
p.info {
	font-size: 1em;
	font-weight: 400;
	color: #000;
	margin: 15px 0px;
	height: 22px;
	overflow: hidden;
}
.dropdown {
  padding: 4px 0;
  float:left;
  outline: none;
  width:23%;
  margin-bottom:0.5em;
}
.rtm {
	float:left;
	width:23%;
	margin-top:6px;
}
.rtm a {
	text-decoration:none;
	color:#fff;
	background:#df2411;
	padding:5px 10px;
}
.rtm a:hover,.wt a:hover {
	background:#000;
}
.wt {
	float:left;
	width:23%;
	margin-top:6px;
}
.wt a {
	text-decoration:none;
	color:#fff;
	background:#37a4c5;	
	padding:5px 10px;
}
/*-- error-page --*/
.error-content{

}
.error-page{
	padding:2em 0 5em 0;
}
.error-404 {
	padding-top: 8em;
	min-height: 700px;
	border-top: 1px solid #000;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
	background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
	background: #fff url(../images/404bg.jpg) no-repeat center 0;
}
.error-404 h2{
	font-size: 5em;
	font-weight: 500;
	color: #fc5700;
	padding: 0;
	text-transform: uppercase;
	margin-top: 0.4em;
}
.error-404 p{
	color: #ffffff;
	margin-top: 1em;
	font-size: 1.4em;
}
.error-404 a{
	font-size: 1.2em;
}
a.b-home{
	background:#272e34;
	padding:0.7em 2.5em;
	display:inline-block;
	color:#FFF;
	text-decoration:none;
	margin-top:1em;
	border-radius: 5px;
}
a.b-home:hover{
	background:#fc5700;
}
/*--contact--*/
.main-contact{
	padding:4em 5em;
	border-top: 1px solid #000;
}
.main-contact p{
	color: #000;
	font-size: 1.2em;
	word-spacing: 2px;
	letter-spacing: 1.3px;
	font-weight: 600;
	text-transform: lowercase;
	margin-top: 2px;
	margin-left: 15px;
}
.main-contact h3{
	margin-left: 15px;
}
.contact-form{
	margin-top:3em;
}
.main-contact form input[type="text"],.main-contact form textarea{
	width: 100%;
	padding: 10px 14px;
	border: 3px solid #000;
	font-size: 1.2em;
	margin-bottom:1.5em;
	color: #000;
	outline: none;
	font-weight:400;
}
.main-contact form textarea {
	resize:none;
	height:201px;
	border-radius: 0;
}
.main-contact form input[type="submit"] {
	font-size: 1.35em;
	font-weight:400;
	color: #fff;
	outline: none;
	border: 3px solid #000;
	padding: 0.5em 3em;
	background:#000;
	margin-top: 0em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.main-contact form input[type="submit"]:hover{
	background:#fff;
	color:#000;
}
.contact_info {
	margin-top:2em;
}
.contact_info h3 {
	color: #000;
	font-size: 2.2em;
	font-weight: 600;
	margin-bottom:0.7em;
}
.map {
	padding:0 15px;
}
.map iframe {
	width:100%;
	min-height:350px;
}
/*----*/
.featured ul li {
	display: inline-block;
	width: 28.333%;
	float: left;
	margin: 2.5%;
}
.featured ul li img {
	width:100%;
}
.featured ul li p {
	font-weight: 400;
	margin-top: 5px;
	line-height: 1.4em;
	font-size: 0.9em;
	color: #494949;
}
.featured h3 {
	color: #000;
	font-size: 1.9em;
	font-weight: 600;
	margin-bottom: 0.6em;
}
.featured {
	border-top: 5px solid #000;
	border-bottom: 5px solid #000;
	padding: 1em 0;
}
.entertainment ul li a {
	font-weight: 400;
	margin-top: 5px;
	text-decoration:none;
	font-size: 0.9em;
	color: #494949;
	line-height: 1.8em;
}
.entertainment ul li {
	display:inline-block;
	float:left;
	width: 75%;
}
.entertainment ul  {
	margin-top:1em;
	padding-bottom:1em;
	border-bottom:1px solid #eee;
}
.entertainment h3 {
	color: #000;
	font-size: 1.9em;
	font-weight: 600;
	margin-bottom: 0.8em;
}
.entertainment {
	border-bottom: 5px solid #000;
	padding: 1em 0;
}
.entertainment ul li.ent {
	width: 21%;
	margin-right: 4%;
}
.entertainment ul li.ent img {
	width: 100%;
}
/*----*/
.grid-might{
	float:left;
	width: 24%;
	margin-right: 5%;
}
.might-top{
	float:right;
	width:71%;
}
.might-top p{
	font-size:0.9em;
	color:#494949;
	line-height:1.8em;
}
.might-grid {
	padding: 1em 0 0;
}
.might h4 {
	color: #000;
	font-size: 2.3em;
	font-weight: 600;
	margin-bottom: 0.6em;
}
.might-top a{
	text-decoration:none;
	color:#dfb636;
	font-size:1em;
	display:inline-block;
	padding: 1em 0 0;	
}
.might-top a:hover{
	color:#ec098d;
}
.might-top a i{
	background: url(../images/img-sprite.png)no-repeat -103px -103px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}
.grid-top h4,.grid-top-in h4 {
	background: #df2411;
	color: #fff;
	padding: 10px 20px;
	font-size: 1.35em;
	font-weight: 700;
	display: block;
	line-height: 1em;
	text-transform: uppercase;
}
/*----*/
.grid-top ul li{
	background: url(../images/dot.png) no-repeat 0px 17px;
	padding: 12px 0px 5px 17px;
	border-bottom: 1px solid #E8E6E6;
	list-style-type:none;
}
.grid-top ul li:nth-child(7){
	border-bottom:none;
}
.grid-top ul li a{
	color:#494949;
	line-height:1.8em;
	text-decoration:none;
	font-size: 0.9em;
	padding: 0 0 10px;
	display: block;
}
.grid-top ul li a:hover{
	color:#00aedb;
}
.grid-top-in p{
	color:#5261ac;
	font-size:1.3em;
	line-height: 1.7em;
	padding: 0.5em 0 0;
}
.grid-top-in p a{
	color:#5261ac;
	text-decoration:none;
}
.grid-top-in p a.bun{
	font-size:0.8em;
}
.grid-top-in p a.lop{
	color:#f78f1d;
	font-size:1.3em;
	font-weight: 700;
}
.grid-top-in p a.dan{
	font-size:1.6em;
	font-weight: 500;	
}
.grid-top-in p a.eva{
	font-size:1.4em;	
}
.grid-top-in p a.jol{
	font-size:1.4em;
font-weight: 700;	
}
.grid-top {
	padding:1em 0 0.5em;
}
.content {
	padding: 2em 0 0;
}
.grid-top-in p a:hover{
	color:#ec098d;
}
.might {
	margin: 2em 0;
}
.single {
	margin-top:2em;
}
.single h3{
	color:#000;
	font-size:1.7em;
	font-weight:600;
	margin-bottom:1em;
}
.single p{
	color:#000;
	font-size:1.4em;
	font-weight:600;
	margin-bottom:1em;
}
.single p i {
	font-weight:400;
	font-size:0.95em;
}
.best-review {
	border-top: 3px solid #000;
	padding: 1.5em 0;
}
.story-review {
	border-top: 3px solid #000;
	padding: 1.5em 0;
	border-bottom: 3px solid #000;
}
.story-review h4 {
	color:#000;
	font-size:1.6em;
	font-weight:600;
	margin-bottom:0.7em;	
}
.best-review  h4 {
	color:#000;
	font-size:1.6em;
	font-weight:600;
	margin-bottom:0.7em;	
}
.story-review p {
	color:#000;	
	font-weight: 400;
	font-size: 1em;
	line-height:1.8em;
}
.best-review p span {
	color:#37a4c5;
	font-weight:600;
}
.best-review p {
	margin-top:0.8em;
}
.comments-section{
	padding:2em 0;
}
.comments-section-head-text h3 {
	float: left;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 1.6em;
}
.comments-section-middle-grid{
	margin-left:2.5em;
}
.comments-section-grid {
	margin-bottom: 3.5em;
}
.comments-section-grid-image img{
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
}
.comments-section-grid-text{
	padding-left:1em;
}
.comments-section-grid-text h4 a{
	font-weight:900;
	font-size:16px;
	color:#464851;
	text-decoration: none;
}
.comments-section-grid-text h4 a:hover{
	color:#2DBEEA;
}
.comments-section-grid-text p{
	color:#464851;
	font-size:0.95em;
	font-weight:400;
	margin:0.3em 0 1em 0;
	line-height:1.7em;
}
.comments-section-grid-text span a{
	font-weight:600;
	font-style:italic;
	font-size:20px;
	color:#dfb636;
	text-decoration: none;
}
.comments-section-grid-text label{
	color:#7F8BA3;
	font-size:14px;
	font-weight:400;
	font-style:italic;
	margin-top:5px;
}
.comments-section-grid-text i.rply-arrow{
	width:25px;
	height:25px;
	background: url("../images/img-sprite.png") no-repeat -669px -94px;
	display: inline-block;
	vertical-align:middle;
}
.reply-section-head-text h3 {
	float: left;
	font-weight: 700;
	font-size: 2em;
	text-transform: uppercase;
	font-style: normal;
	margin-bottom: 1.6em;
}
.reply-section{
	padding:2em 0;
}
.blog-form input[type="text"], textarea {
	width: 100%;
	padding: 9px;
	border-radius: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border: 1px solid #BBC4C9;
	margin-bottom: 2em;
	font-size: 15px;
	font-weight: 400;
	color: #7F8BA3;
	outline: none;
	font-style:normal;
}
.blog-form textarea {
	resize:none;
	height:11em;
}
.blog-form input[type="button"] {
	padding: 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  outline: none;
  font-size: 1em;
  font-weight: 600;
  width: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  font-style: normal;
  width: 20%;
}
.blog-form input[type="button"]:hover {
	background: #dfb636;
}
.dropbtn {
    color: black;
    border: none;
    cursor: pointer;
	margin-left: 20px;
	font-size: 16px;
	background-color: transparent;
	font-weight: normal;
}

/* 容器 <div> - 需要定位下拉内容 */
.dropdown {
    position: relative;
    display: inline-block;
	padding: 15px;
	width: 100px;
	z-index: 999;
}

/* 下拉内容 (默认隐藏) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
	border-radius: 15px;
	text-indent: 1.5em;
	min-width: 160px;
	border-color: black;
	border-style: solid;
	border-width: thin;
	z-index: 999;
}

/* 下拉菜单的链接 */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* 鼠标移上去后修改下拉菜单链接颜色 */
.dropdown-content a:hover {background-color: #f2f2f2; border-radius: 15px}

/* 在鼠标移上去后显示下拉菜单 */
.dropdown:hover .dropdown-content {
    display: block;
}

/* 当下拉内容显示后修改下拉按钮的背景颜色 */
.dropdown:hover .dropbtn {

}

.single-bg {
	width: 100%;
	height: 600px;
	position: relative;
	background-size: cover;
	box-sizing: border-box;
	z-index: 0;
}

.single-bg:after {
	content: "";
	width: 80%;
	height: 400px;
	position: absolute;
	left: 15%;
	top: 20%;
	/* 从父元素继承 background 属性的设置 */
	background: white;
	filter: blur(150px);
	z-index: -1;
}

.single-content {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	width: 95%;
	height: 550px;
	text-align: center;
	z-index: 0;
}

.single-poster {
	position: absolute;
	left: 18%;
	top: 52%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 530px;
	float: left;
	z-index: 0;
}

.single-poster img {
	width: 100%;
	height: 500px;
}

.single-info {
	position: absolute;
	left: 60%;
	top: 50%;
	width: 60%;
	transform: translate(-50%, -50%);
	height: 500px;
	margin-left: 40px;
	z-index: 4;
}

.single-info h1 {
	font-size: 35px;
	font-weight: bold;
	padding-bottom: 20px;
}

.single-info p {
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 20px;
}

.single-info h2,h3,h4 {
	padding-top: 20px;
	margin-left: -1em;
	font-weight: bold;
}

.single-button {
	position: absolute;!important;
	top: 0;
	right: 0;
}
.single-button input{
	margin-left: 10px;
}

.single-button a, a:visited, a:active, a:hover {
	text-decoration: none;
}

/*评论区 */
.single-review {
	margin-top: 4em;
	margin-bottom: 2em;
	width: 60%;
	float: left;
}
.single-review h1 {
	margin-left: 20px;
}

.single-review-content {
	margin: 30px;
	background: #f7f7f7;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    -webkit-transform: translate3d(0, 0px, -2px);
    transform: translate3d(0, 1px, -2px);
	width: 100%;
	height: 500px;
}
.single-recommend{
	width: 30%;
	margin-top: 4em;
	margin-bottom: 2em;
	padding-right: 2em;
	float: right;
}
.single-recommend h1{
	margin-left: 40px;
}
.single-recommend-content {
	margin: 30px;
	width: 100%;
	background: #f7f7f7;
    -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.1);
    box-shadow: 0 0 30px rgba(0,0,0,0.15);
    -webkit-transform: translate3d(0, 0px, -2px);
    transform: translate3d(0, 1px, -2px);
	height: 500px;
	overflow-y: scroll;
}

.single-recommend-movie {
	display: inline-block;
}

.single-recommend-movie h4 {
	width: 50%;
	float: right;
	margin-top: 40px;
	font-size: 16px;
}

.single-recommend-movie img{
	width: 50%;
	padding: 20px;
	float: left;
}

.content h1,h2,h3,h4,h5 {
	padding-left: 1em;
}
.content p {
	padding-left: 2em;
	padding-top: 2em;
}
.content a{
	color: #31b0d5;
}
.content input {
	margin-left: 2em;
	margin-bottom: 1em;
	width: 30%;
}
#login,#register{
	padding-left: 2em;
	padding-top: 1em;
}

.content button{
	margin-left: 1.5em;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 150px;
	padding:8px;
	background-color: #dfb636;
	border-color: #dfb636;
	color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	font-weight: 700;
	font-size:125%
}

.movies {
	position: relative;
	width: 100%;
	height: 1700px;
	clear: both;
}

.movies h2 {
	font-weight: bold;
	margin: 10px;
}

.movies-sort {
	display:inline-block;
	width: 30%;
	height: auto;
}



* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

.float-right {
  float: right;
}

.fa {
  font-size: .8em;
  line-height: 22px !important;
}

.movies dropdown {
  display: inline-block;
  margin: 20px 50px;
}

.movies dropdown label,.movies dropdown ul li {
	display: block;
	width: 300px;
	background: whitesmoke;
	padding: 15px 20px;
	font-size: 16px;
}

.movies dropdown label:hover, .movies dropdown ul li:hover {
  background: #dfb636;
  color: white;
  cursor: pointer;
}

.movies dropdown label {
  color: #dfb636;
  border-left: 4px solid #dfb636;
  border-radius: 5px 5px 0 0;
  position: relative;
  z-index: 2;
}

.movies dropdown input {
  display: none;
}

.movies dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1;
}

.movies dropdown input:checked + label {
  background: #dfb636;
  color: white;
}

.movies dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0;
}

.movies dropdown ul li:nth-child(1) {
  border-left: 4px solid #1ABC9C;
	border-radius: 0 0 5px 5px;
}
.movies dropdown ul li:nth-child(1) .fa {
  color: #1ABC9C;
}
.movies dropdown ul li:nth-child(1):hover {
  background: #1ABC9C;
  color: black;
}
.movies dropdown ul li:nth-child(1):hover .fa {
  color: white;
}

.movies dropdown ul li:nth-child(2) {
  border-left: 4px solid #0072B5;
}
.movies dropdown ul li:nth-child(2) .fa {
  color: #0072B5;
}
.movies dropdown ul li:nth-child(2):hover {
  background: #0072B5;
  color: black;
}
.movies dropdown ul li:nth-child(2):hover .fa {
  color: white;
}

.movies dropdown ul li:nth-child(3) {
  border-left: 4px solid #2C3E50;
}
.movies dropdown ul li:nth-child(3) .fa {
  color: #2C3E50;
}
.movies dropdown ul li:nth-child(3):hover {
  background: #2C3E50;
  color: white;
}
.movies dropdown ul li:nth-child(3):hover .fa {
  color: white;
}

.animate {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden;
  /* Internet Explorer */
}

.search-button button {
	display: block;
	margin-bottom: 1em;
	margin-top: 20px;
	width: 300px;
	padding:8px;
	background-color: #dfb636;
	border-color: #dfb636;
	color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; /* future proofing */
	-khtml-border-radius: 10px; /* for old Konqueror browsers */
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	font-weight: 700;
	font-size:125%
}

.movie-list-single {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	overflow: hidden;
	position: relative;
}

.movies-list {
	float: right;
	width:70%;
	height: auto;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin: auto;
	margin-bottom: 50px;
}

.movie-list-single:hover {
  cursor: pointer;
}

.overlay {
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 3;
	opacity: 0;
	transition: all ease-in-out 0.5s;
}

.rating-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 4;
	opacity: 0;
	transition: all ease-in-out 0.5s;
}

.movie-list-single:hover .overlay {
  opacity: 1;
}

.movie-list-single img {
  width: 100%;
  z-index: -1;
  margin: auto;
  transform: scale(1);
  transition: all ease-in-out 0.5s;
}

.movie-list-single:hover img {
  transform: scale(1.1);
  filter: blur(2px);
}

.image-details {
	text-align: center;
	color: white;
	font-size: 16px;font-family: "Source Sans Pro", Arial, sans-serif;
	z-index: 5;
	position: absolute;
	top: 100%;
	opacity: 0;
	transition: all ease-in-out 0.5s;
}

.movie-list-single:hover .image-details {
  top: 40%;
  opacity: 1;
}

.movie-list-single:hover .rating-overlay {
	opacity: 1;
}

/*
page
 */

/*设置div样式的整体布局*/
.page-icon{
	width: 100%;
	margin:20px 0 0 0;/*设置距离顶部20像素*/
	font-size:0;/*修复行内元素之间空隙间隔*/
	text-align:center;/*设置内容居中显示*/
}

/*设置共有的的样式布局，主要是进行代码优化，提高运行效率*/
.page-icon a,.page-disabled,.page-next{
	border:1px solid #ccc;
	border-radius:3px;
	padding:4px 10px 5px;
	font-size:14PX;/*修复行内元素之间空隙间隔*/
	margin-right:10px;
}

/*对 a 标签进行样式布局 */
.page-icon a{
	text-decoration:none;/*取消链接的下划线*/
	color:#005aa0;
}

.page-current{
	color:#ff6600;
	padding:4px 10px 5px;
	font-size:14PX;/*修复行内元素之间空隙间隔*/
}

.page-disabled{
	color:#ccc;
}

.page-next i,.page-disabled i{
	cursor:pointer;/*设置鼠标经过时的显示状态，这里设置的是显示状态为小手状态*/
	display:inline-block;/*设置显示的方式为行内块元素*/
	width:5px;
	height:9px;
	background-image:url(http://img.mukewang.com/547fdbc60001bab900880700.gif);/*获取图标的背景链接*/
}
.page-disabled i{
	background-position:-80px -608px;
	margin-right:3px;
}

.page-next i{
	background-position:-62px -608px;
	margin-left:3px;
}

/*--profile--*/
.main-profile{
	border-top: 1px solid #000;
	display: inline;
}
.main-profile h2 {
	color:#383838;
	font-size:28px;
	font-weight:700;
	margin:10px 20px;
	padding-left: 0;
}
.profile-header {
	width: 100%;
	height: 300px;
	background: url(../images/profile-header-bg.jpeg) no-repeat 0;
}

.profile-header h3 {
	font-size: 28px;
	margin-left: 2em;
}

.profile-header-info {
	display: inline-block;
	width: 90%;
	height: auto;
	padding: 2em;
}

.profile-header-image {
	width: 20%;
	height: auto;
	float: left;
}

.profile-header-image img {
	width: 128px;
	margin-left: 2em;
}

.profile-header-average-score {
	width: 20%;
	height: auto;
	float: left;
}

.profile-header-stats {
	width: 20%;
	height: auto;
	float: left;
	margin-left: 2em;
}


.profile-favorite-content {
	width:100%;
	height: 350px;
	clear: both;
	display: flex;
	flex-wrap: nowrap;
	justify-content: left;
	margin-left: 10px;
	overflow-x: scroll;
}

.favorite-list-single {
	width: 20%;
	height: 300px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
	position: relative;
}

.favorite-list-single p {
	font-size: 16px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 10px;
}

.favorite-list-single h3 {
	line-height: 350px;
	margin: 20px;
}

.favorite-content {
	width:100%;
	height: auto;
	clear: both;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-left: 50px;
}

.favorite-list-single-all {
	width: 20%;
	height: 300px;
	justify-content: center;
	align-items: center;
	margin: 20px;
	position: relative;
}

.favorite-list-single-all img{
	z-index: -1;
	margin: auto;
	transform: scale(1);
	transition: all ease-in-out 0.5s;
}


.favorite-list-single-all:hover img {
  transform: scale(1.1);
}

.profile-recent-ratings {
	width:100%;
	height: 130px;
	clear: both;
	display: flex;
	flex-wrap: nowrap;
	justify-content: left;
	margin-left: 10px;
	overflow-x: scroll;
	margin-top: 30px;
	margin-bottom: 30px;
}

.profile-recent-ratings-content {
	margin-left: 2em;
	height: 100px;
	border: 2px none orangered;
	border-top-style: solid;
	padding:10px;
	width: 20%;
	display: flex;
	position: relative;
}

.left-recent-rating {
	width: 200px;
	float: left;
}

.left-recent-rating h4{
	max-width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.right-recent-rating {
	width: 50px;
	float: right;
}

.right-recent-rating h2 {
	padding-top: 10px;
}