<!DOCTYPE html>
<html>
<head>
<title>{{ movie_title }}</title>
<link rel="icon" href="../../static/images/logo-icon.png" type="image/x-icon"/>
<link href="../../static/css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../../static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<script src="../../static/js/jquery.min.js"></script>
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cinema Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript">

     $(document).ready(function() {
       $('input[name=rating]').change(function(){
            var flag = confirm("Do you want to rate this movie?");
            if (flag==true) {
                    $('#star-form').submit();
              }
            else {
                location.reload();
            }

       });
      });

     $(document).ready(function() {
       $('input[name=change-rating]').change(function(){
            var flag = confirm("Do you want to change the rating of this movie?");
            if (flag==true) {
                    $('#change-star-form').submit();
              }
            else {
                location.reload();
            }

       });
      });


addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
	<!-- header-section-starts -->
	<div class="full">
			<div class="menu">
				<ul>
					<li><a href="{% url 'index' %}"><div class="hm"><i class="home1"></i><i class="home2"></i></div></a></li>
					<li><a href="/moviehub/topmovies/?&index={{index}}"><div class="video"><i class="videos"></i><i class="videos1"></i></div></a></li>
					<li><a class="active" href="reviews.html"><div class="cat"><i class="watching"></i><i class="watching1"></i></div></a></li>
					<li><a href="404.html"><div class="bk"><i class="booking"></i><i class="booking1"></i></div></a></li>
					<li><a href="contact.html"><div class="cnt"><i class="contact"></i><i class="contact1"></i></div></a></li>
				</ul>
			</div>
		<div class="main">
				<div class="header">
			<div class="top-header">
				<div class="logo">
					<a href="{% url 'index' %}"><img src="../../static/images/logo.png" alt="" /></a>

				</div>

                <div class="dropdown">
                  <button class="dropbtn">Movies</button>
                  <div class="dropdown-content">
                    <a href="/moviehub/topmovies/?sort=3">Popular</a>
                    <a href="/moviehub/topmovies">Top Rated</a>
                    <a href="#">Now Playing</a>
                  </div>
                </div>

                <div class="dropdown">
                  <button class="dropbtn">People</button>
                  <div class="dropdown-content">
                    <a href="#">Popular People</a>
                  </div>
                </div>

                <div class="dropdown">
                  <button class="dropbtn">More</button>
                  <div class="dropdown-content">
                      <a href="#">Discussions</a>
                      <a href="#">Leaderboard</a>
                    <a href="#">Contact us</a>
                  </div>
                </div>



				{%  if request.session.is_login %}
                <div class="login">
					<a href={% url 'profile' %}>{{request.session.username}}</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="{% url 'logout' %}" style="color: orange">Logout</a>
				</div>
                {% else %}
				<div class="login">
					<a href="{% url 'login' %}">Log in</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="{% url 'register' %}">Sign up</a>
				</div>
                {% endif %}
				<div class="search">
										<form action="{% url 'search' %}" method="post">
                        {% csrf_token %}
						<input type="text" value="Search.." onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Search..';}" name="search"/>
						<input type="submit" value="">
					</form>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

            <div class="single-bg" style="background: url(//www.themoviedb.org/t/p/w1280/{{poster_url}});">
                <div class="single-poster">
                    <img src="{{'https://www.themoviedb.org/t/p/w1280/'}}{{poster_url}}">
                </div>
                <div class="single-info">
                    <h1>{{movie_title}}（{{release_date}}）</h1>
                    <p>{{genres}} · {{time}}</p>
                    <h4 style="font-weight: bold;display:inline;">User Score:&nbsp;&nbsp;&nbsp;</h4><h4 style="display:inline;">{{ rating }}&nbsp;</h4>
                    {% if rating_count > 1 %}
                    <h4 style="display: inline"> ({{rating_count}} Ratings) </h4>
                    {% else %}
                     <h4 style="display: inline"> ({{rating_count}} Rating) </h4>
                    {% endif %}
                    <div class="single-button">
                        {% if not like %}
                        <a href="/moviehub/like/?&movieId={{movie_id}}" style="padding-right: 20px">
                            <img src="../../static/images/icons/heart-yellow.png" style="width: 50px;">
                        </a>
                        {% else %}
                        <a href="/moviehub/dislike/?&movieId={{movie_id}}" style="padding-right: 20px">
                            <img src="../../static/images/icons/heart-red.png" style="width: 50px;">
                        </a>
                        {% endif %}
                        <a href="#">
                            <img src="../../static/images/icons/edit-yellow.png" style="width: 50px;">
                        </a>

                    {% if not rating_flag %}
                        <form action="/moviehub/star/?&movieId={{ movie_id }}&rating={{ rating }}" id="star-form">
                            <div class="star">
                                <input type="radio" id="rate5" name="rating" value="5">
                                <label for="rate5" title="Amazing"></label>

                                <input type="radio" id="rate4" name="rating" value="4">
                                <label for="rate4" title="Good"></label>

                                <input type="radio" id="rate3" name="rating" value="3">
                                <label for="rate3" title="Average"></label>

                                <input type="radio" id="rate2" name="rating" value="2">
                                <label for="rate2" title="Not good"></label>

                                <input type="radio" id="rate1" name="rating" value="1">
                                <label for="rate1" title="Terrible"></label>
                                <input type="text" style="display: none" name="movie_id" value="{{ movie_id }}">
                            </div>
                        </form>
                    {% else %}

                        <form action="/moviehub/star/?&movieId={{ movie_id }}&rating={{ rating }}" id="change-star-form">
                            <div class="star">
                                {% if user_rating == 5 %}
                                    <input type="radio" id="rate5" name="change-rating" value=5 checked="checked">
                                {% else %}
                                    <input type="radio" id="rate5" name="change-rating" value=5>
                                {% endif %}
                                <label for="rate5" title="Amazing"></label>

                                {% if user_rating == 4 %}
                                    <input type="radio" id="rate4" name="change-rating" value=4 checked="checked">
                                {% else %}
                                    <input type="radio" id="rate4" name="change-rating" value=4>
                                {% endif %}
                                <label for="rate4" title="Good"></label>

                                {% if user_rating == 3 %}
                                    <input type="radio" id="rate3" name="change-rating" value=3 checked="checked">
                                {% else %}
                                    <input type="radio" id="rate3" name="change-rating" value=3>
                                {% endif %}
                                <label for="rate3" title="Average"></label>

                                {% if user_rating == 2 %}
                                    <input type="radio" id="rate2" name="change-rating" value=2 checked="checked">
                                {% else %}
                                    <input type="radio" id="rate2" name="change-rating" value=2>
                                {% endif %}
                                <label for="rate2" title="Not good"></label>

                                {% if user_rating == 1 %}
                                    <input type="radio" id="rate1" name="change-rating" value=1 checked="checked">
                                {% else %}
                                    <input type="radio" id="rate1" name="change-rating" value=1>
                                {% endif %}
                                <label for="rate1" title="Terrible"></label>
                                <input type="text" style="display: none" name="movie_id" value="{{ movie_id }}">
                            </div>
                        </form>

                    {% endif %}


                    </div>
                    <h3>Overview</h3>
                    <p>{{summary}}</p>
                    <h3>Director</h3>
                    <p>{{director}}</p>
                    <h3>Cast</h3>
                    <p>{{stars}}</p>

                </div>
            </div>

            <div class="content2" style="display: inline-block; width: 90%">
                 <div class="single-review">
                    <h1>Recent Reviews</h1>
                    <div class="single-review-content">
                        {% if rating_count > 0 %}
                            {% for user_rating in movie_review_user_list %}
                                <div class="review-content">
                                    <div class="single-review-left">
                                        <img src="{{ user_rating.user.profile_pic }}">
                                    </div>
                                    <div class="single-review-right">
                                        <h3>{{user_rating.user.username}}</h3>
                                        <p>{{user_rating.timestamp}}</p>

                                        <div class="review-star">
                                            <div class="display-star" id="light">
                                                {% for i in user_rating.star_num.0|make_list  %}
                                                <label></label>
                                                {% endfor %}
                                            </div>
                                            <div class="display-star">
                                                {% for i in user_rating.star_num.1|make_list  %}
                                                <label></label>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}



                    </div><!-- /.single-review-content -->

                </div><!-- /.single-review -->
                <div class="single-recommend">
                    <h1>Recommendations</h1>
                    <div class="single-recommend-content">
                         <div style="border: 1px  #000000; width: 90%; margin: 0 auto;">
                             {% for movie in recommended_movies %}
                            <div class="single-recommend-movie">
                                <img src="{{'https://www.themoviedb.org/t/p/w1280/'}}{{movie.poster_url}}" >
                                <a href="/moviehub/movie/{{movie.movie_id}}"><h4>{{ movie.movie_title }}</h4></a>
                            </div>
                             {% endfor %}
                        </div>

                    </div>
                </div>
            </div>







		<div class="review-slider">
			 <ul id="flexiselDemo1">
			<li><img src="../../static/images/r1.jpg" alt=""/></li>
			<li><img src="../../static/images/r2.jpg" alt=""/></li>
			<li><img src="../../static/images/r3.jpg" alt=""/></li>
			<li><img src="../../static/images/r4.jpg" alt=""/></li>
			<li><img src="../../static/images/r5.jpg" alt=""/></li>
			<li><img src="../../static/images/r6.jpg" alt=""/></li>
		</ul>
			<script type="text/javascript">
		$(window).load(function() {
			
		  $("#flexiselDemo1").flexisel({
				visibleItems: 6,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,    		
				pauseOnHover: false,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: { 
					portrait: { 
						changePoint:480,
						visibleItems: 1
					}, 
					landscape: { 
						changePoint:640,
						visibleItems: 2
					},
					tablet: { 
						changePoint:768,
						visibleItems: 3
					}
				}
			});
			});
		</script>
		<script type="text/javascript" src="../../static/js/jquery.flexisel.js"></script>
		</div>		
	<div class="footer">
		<h6>Disclaimer : </h6>
		<p class="claim">This is a free and unofficial website, I have no intention to disclose any movie, brand or news. My goal here is to improve my skills and finish my graduation project.</p>
		<a href="20174210@cqu.edu.cn">20174210@cqu.edu.cn</a>
		<div class="copyright">
			<p>Copyright &copy; 2021. Rodrick All rights reserved.</p>
		</div>
	</div>	
	</div>
	<div class="clearfix"></div>
	</div>
</body>
</html>